@model Department

<div class="mb-3">
    <label asp-for="Name" class="form-label">Name</label>
    <input asp-for="Name" class="form-control"/>
    <span asp-validation-for="Name"></span>
</div>
<div class="mb-3">
    <label asp-for="Location" class="form-label">Location</label>
    <input asp-for="Location" class="form-control"/>
    <span asp-validation-for="Location"></span>
</div>