@model Student
@{
    ViewBag.title = "create";
}
<div class="container">
    <form method="post">


        <partial name="CreateEdit" />

        <input type="submit" class="btn btn-success" />
    </form>
</div>

