@model Student
@{
    ViewBag.title = "Update";
}

<a asp-action="Index" class="btn btn-light mb-3">Back</a>

<h2>Update Student</h2>
<div class="container">
    <form method="post">
        <div class="container mt-3">
            <partial name="CreateEdit" />
            <div class="mb-3">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </div>
    </form>
</div>

@section Scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}