@model Student
@{
    ViewBag.title = "Update";
}
<div class="container">
    <form method="post">


        <partial name="CreateEdit" />

        <input type="submit" class="btn btn-success" />
    </form>
</div>

@section Scripts
{
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}